.form-signin {
  max-width: 330px; /* Ограничиваем ширину формы */
  padding: 1rem;
}

/* Дополнительно убедимся, что body занимает всю высоту экрана для центровки по вертикали */
body {
  height: 100vh;
}
